<form method="post" action="/cadastrar">
    <label for="nome">Nome: </label>
    <input type="text" name="nome" id="nome">
    <label for="nome">Qual seu carro favorito? </label>
    <input type="text" name="carro" id="carro">
    <button type="submit" id="enviar">Enviar </button>
</form>